@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
/*
Colores
#525252
#414141
#313131
#8F43EE
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:'Geologica', sans-serif ;
    font-size: 62.5%;
}

h1{font-size: 4rem;}
h2{font-size: 3rem;}
p{font-family: 1.25rem;}

/*header---------------------------------*/
.navbar{
    padding: 1rem;
    background-color: #313131;
}
.navbar-brand img{
    width: 50px;
    margin:0;
}
.navbar-toggler{
    border: 1px solid antiquewhite;
}
.navbar-toggler-icon{
    color: antiquewhite;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-item a{
    color: antiquewhite;
    text-decoration: none;
    font-size:1.7rem; 
    text-shadow: 1px -3px 7px rgba(161, 159, 159, 0.49);
    margin-right: 5px;
}

/* Footer--------------------------------------------------- */
footer{
    background-color: #414141;
    font-size: 1rem;
    color: antiquewhite;
}
    
    
/* index--------------------------------------------------- */
/* hero---------------------------------------------------- */
.carrusel h1,h2, p{
    font-size: 3rem;
    text-shadow: 1px -3px 7px rgba(10, 8, 8, 0.49);
    color:rgb(99, 22, 172);

}
/*main----------------------------------------------------*/
.descripcion, .nosotros{
    background-color:#414141 ;
    padding: 100px;
}
.nosotros h3{
    color: antiquewhite;
    font-size: 2.5rem;
}
.descripcion p{
    color:antiquewhite;
    font-size: 1.2rem;
}
/* CARDS------------------------------------------------------ */
 .card{
    border: 2px solid rgb(56, 56, 56);
 }
 .card-text{
    color:#313131;
    font-size: 1rem;
 }
 .btn{
    background-color: rgb(99, 22, 172);
    color: antiquewhite;
 }
 /* Acuaticas------------------------------------ */
.act-acuaticas{
    text-align: justify;
    padding-bottom: 10px;
}
.act-acuaticas p{
    color: #313131;
    font-size: 2rem;
    margin-top: 30px;
}
.acuaticasdos{
    background-color: #313131;
}
.acuaticasdos p{
    color: antiquewhite;
}

/* Aereas------------------------------------------ */
.act-aereas{
    text-align: justify;
    padding-bottom:10px ;
}
.act-aereas p{
    color: #313131;
    font-size: 2rem;
    margin-top: 30px;
}
.aereasdos{
    background-color: #313131;
}
.aereasdos p{
    color: antiquewhite;
}

/* Terrestres-------------------------------------- */
.act-terrestres{
    text-align: justify;
    padding-bottom: 10px;
}
.act-terrestres p{
    color: #313131;
    font-size: 2rem;
}
.terrestresdos{
    background-color: #414141;
}
.terrestresdos p{
    color: antiquewhite;
}
/*Adaptabe-------------------------------------------------*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display:none;
    }
    .par{
        display: none;
    }
}